watch_file "./nix/env.nix" "./nix/ferretry.nix" "./nix/fmt.nix" "./nix/git-hooks.nix" "./nix/git-hooks/install.sh" "./nix/packages.nix" "./nix/shells.nix" "./nix/pre-commit.nix" "./flake.nix"
use flake
